* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#body {
  background-color: var(--color-mode);
  color: var(--text-color);
}

:root {
  --color-mode: #091723;
  --text-color: #ffffff;
}

/* Profile section */

.profile {
  width: 100%;
  height: 100vh;
}

#color-mode{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 1%;
  left: 95%;
}

#color-mode:hover{
  cursor: pointer;
}

.name {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 3rem;
}

.title {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%);
}


.profile-pic {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  height: 400px;
  width: 400px;
}

/* Skills section */

.skills {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.skills h3 {
  color: rgb(19, 100, 39);
  font-size: 3rem;
  text-align: center;
}

.skill-img {
  width: 200px;
  height: 200px;
}

.skill {
  margin-left: 20px;
  margin-right: 20px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.skill-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Projects section */

.projects {
  width: 100%;
  display: flex;
}